<!DOCTYPE html>
<html>
    <header>
    </header

    <body>
        <h1><%= @restaurant.name %></h1>
        <h1><%= @restaurant.cuisine %></h1>
        <h1><%= @restaurant.city %></h1>
        <h1><%= @restaurant.rating %></h1>
        <h1><%= @restaurant.address %></h1>

    </body>

</html>